h1{
    color: red;
    font-size: 64px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-shadow: 10px 10px 10px #FF0000;
}

p {
    color: blue;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    /*font-style: italic;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 40px;
    text-align: justify;*/
    text-transform: capitalize;
    text-decoration: underline;

}